html,
body,
:global(#root) {
  height: 100%;
  background: #e1e1e1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input,
select,
textarea,
:global(#root) {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 :global(#root) {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var :global(#root) {
  font-style: normal;
}
small :global(#root) {
  font-size: 12px;
}
ul :global(#root) {
  list-style: none;
}
a :global(#root) {
  text-decoration: none;
  outline: none;
}
sup :global(#root) {
  vertical-align: text-top;
}
sub :global(#root) {
  vertical-align: text-bottom;
}
legend :global(#root) {
  color: #000;
}
fieldset :global(#root) {
  border: 0;
}
img :global(#root) {
  border: 0;
}
button,
input,
select,
textarea :global(#root) {
  font-size: 100%;
  outline: none;
}
table :global(#root) {
  border-collapse: collapse;
  border-spacing: 0;
}
a :global(#root) {
  color: inherit;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
  zoom: 1;
}
.nowrap {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.go_top {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  width: 2.5rem;
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  position: fixed;
  z-index: 499;
  bottom: -5rem;
  right: 1rem;
  transition: .3s linear;
}
.go_top.active {
  bottom: 1rem;
  transition: .3s linear;
}
.go_top i {
  font-size: 1.2rem;
}
